
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

/* navbar style

.navbar-nav a {
  font-size: 18px;
  color:rgb(197, 238, 238);
}
.Products{
  background:rgb(16, 167, 66) ; */
/* } */





 
/* * {
  background: #EFFD5F;
} */